DirectoryIndex index.php index.html

# Habilita o módulo de reescrita
RewriteEngine On

# Redireciona todas as solicitações para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]

# Redireciona /admin para admin.php
RewriteRule ^admin$ admin.php [L]

# Adicione outras regras para suas páginas de backoffice aqui
# Por exemplo:
RewriteRule ^login$ login.php [L]